@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --handleSize: 16px;
    --handleColor: transparent;
    --handleShadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
    --trackHeight: 4px;
    --handleOffset: calc((var(--trackHeight)) - (var(--handleSize) / 2) - 2px);
    --trackColor: #444;
}

@layer components {
    @media screen and (max-width: 499px) {
        .card {
            @apply w-card-mob;
        }
    }

    @media screen and (min-width: 500px) {
        .card {
            @apply w-card-500;
        }
    }

    @media screen and (min-width: 700px) {
        .card {
            @apply w-card-700;
        }
    }

    @media screen and (min-width: 800px) {
        .card {
            @apply w-card-800;
        }
    }

    @media screen and (min-width: 1200px) {
        .card {
            @apply w-card-1200;
        }
    }

    @media screen and (min-width: 1400px) {
        .card {
            @apply w-card-1400;
        }
    }

    @media screen and (min-width: 1600px) {
        .card {
            @apply w-card-1600;
        }
    }

    @media screen and (min-width: 1920px) {
        .card {
            @apply w-card-1920;
        }
    }
}

html {
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

@media screen and (min-width: 768px) {
    .background {
        background: url('/background.webP');
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

input[type='range'] {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    border: none;
    padding: 0;
    width: 100%;
    height: var(--trackHeight);
    cursor: pointer;
    z-index: 3;

    /* Firefox slider styles */
    &::-moz-range-thumb {
        appearance: none;
        border: none;
        height: var(--handleSize);
        width: var(--handleSize);
        background-color: var(--handleColor);
    }

    &::-moz-range-track {
        background-color: transparent;
    }

    /* Chrome based browser slider styles */
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: var(--handleSize);
        width: var(--handleSize);
        margin-top: var(--handleOffset);
        border-radius: calc(var(--handleSize) / 2);
        background-color: var(--handleColor);
        /* box-shadow: $handleShadow; */
    }

    &::-webkit-slider-runnable-track {
        height: var(--trackHeight);
        background-color: transparent;
    }
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
}

.no-scroll-bar::-webkit-scrollbar {
    width: 0;
}

.volumeSlider * {
    padding: 0;
    margin: 0;
    border: none;
}

.volumeSlider {
    width: 6rem;
    position: relative;

    input[type='range'] {
        position: relative;
        vertical-align: middle;
        -webkit-appearance: none;
        appearance: none;
        background: transparent;
        border: none;
        width: 100%;
        margin-top: -2px;
        cursor: pointer;
        z-index: 3;

        &::-moz-range-thumb {
            border: none;
            height: 12px;
            width: 12px;
            margin-top: -3.5px;
            background-color: #cecece;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
        }

        &::-moz-range-track {
            background-color: transparent;
        }

        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 12px;
            width: 12px;
            margin-top: -3.5px;
            border-radius: calc(12px / 2);
            background-color: #cecece;
            box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
        }

        &::-webkit-slider-runnable-track {
            background-color: transparent;
        }
    }

    &Track,
    &Progress {
        height: 4px;
        border-radius: calc(4px / 2);
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        margin: auto;
    }

    &Track {
        width: 100%;
        background-color: #444;
    }

    &Progress {
        background-color: #1ab751;
    }
}
